---
import DesktopLightbox from "../components/lightbox/DesktopLightbox";
import DesktopProductImage from "../components/main/DesktopProductImage";
import MainContent from "../components/main/MainContent.astro";
import ProductImage from "../components/main/ProductImage.astro";
import NavBar from "../components/nav/NavBar.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>E-Commerce Product Page</title>
    <meta
      name="description"
      content="A generic product page for an e-commerce website, a challenge by Frontend Mentor."
    />

    <meta property="og:title" content="E-Commerce Product Page" />
    <meta
      property="og:description"
      content="A generic product page for an e-commerce website, a challenge by Frontend Mentor."
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      rel="preload"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap"
      />
    </noscript>
  </head>

  <body class="font-kumbh-sans">
    <NavBar />
    <main
      class="flex flex-col xl:mx-desktop-x-pad xl:flex-row xl:justify-between xl:gap-16 xl:px-12 xl:py-20 2xl:gap-32"
    >
      <!-- This image scroller is for mobile  -->
      <ProductImage />

      <!-- This image selector is for desktop -->
      <DesktopProductImage client:load />
      <DesktopLightbox client:load />

      <MainContent />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  kbd {
    @apply hidden max-h-fit items-center justify-center rounded border-gray-700 bg-gray-500 p-0 px-2 text-base text-gray-100 shadow-[0px_2px_0px_2px] shadow-gray-600 duration-200 hover:translate-y-0.5 hover:shadow-none xl:flex;
  }
</style>
