<footer class="mx-auto my-4 w-full p-2 text-center text-sm">
  Challenge by <a href="https://frontendmentor.io/">Frontend Mentor</a>. Made by <a
    href="https://github.com/hikawi">Tsukimi</a
  >.
</footer>

<style>
  a {
    @apply text-p-orange hover:text-p-light-orange;
  }
</style>
